/* ItemBlog.css */
.blog-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-transform: none;
    
  }
  .custom-body-blog {
    flex-direction: column;
  }
  .blog-summary {
    font-size: 0.9rem;
    color: #555;
  }
  .item-link-blog{
    display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  }
  .subtitle-card-blog {
    text-transform: none;
    color: #333;
    font-size: 14px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: left;

  }
  .date-card {
    gap: 10px;
  }
  @media (max-width: 480px) {
    .subtitle-card-blog {
      width: 80%;
      font-size: 10px;
    }
  }