.add-card {
  height: 100%;
  width: 100%;
  border: 1px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 0;
}

.add-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-icon-container {
  background-color: #F1B332;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-icon {
  color: white;
  font-size: 30px;
}
.modal-flotador .modal-dialog {
  width: 80vw; /* Make the modal 80% of the viewport width */
  height: auto;
  max-width: 100%; /* Ensure it doesn't overflow the viewport */
  margin: auto; /* Center the modal */
  margin-top: 40px;
}

.modal-flotador .modal-content {
  border-radius: 0; /* Optional: to give a rounded look */
  padding: 20px; /* Optional: Add padding inside the modal */
}

.image-upload-container {
  position: relative;
  width: 100%;
  height: 150px;
  background-color: #b7b8b9;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-upload-input {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  z-index: 2;
  cursor: pointer;
}

.upload-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #999;
}

.icon-plus {
  font-size: 24px;
  margin-bottom: 8px;
}

.icon-image {
  font-size: 32px;
}

.preview-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-image {
  max-width: 100px;
  max-height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.form-input {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 16px;
}
