.contact-form-wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenedor del formulario */
    border-radius: 8px; /* Bordes redondeados para un estilo más moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el formulario */
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .form-title svg {
    margin-right: 10px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ca1414;
  }
  