.contact-form-wrapper {
    width: 100%;
    max-width: 550px;
    font-family:'Montserrat', sans-serif;
    margin: 0 auto;
    background-color: #ffffff; /* Fondo blanco para el contenedor del formulario */
    border-radius: 0; /* Bordes redondeados para un estilo más moderno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para destacar el formulario */
  }
  
  .contact-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
  }
  
  .form-title {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .form-title svg {
    margin-right: 10px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .btn-form-footer-cont {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
  
  .btn-form-footer {
    width: 65%;
    padding: 8px 15px;
    font-size: 14PX;
    background-color: #ca1414;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
  }
  
  .btn-form-footer:hover {
    background-color: #ca1414;
  }

  
  /* media para pantallas mas grandes que 1200 px */
  @media (min-width: 1200px) {
    .contact-form-wrapper {
      max-width: 800px;
    }
  }
  