.dropdown-custom-wrapper {
  width: 100%;
}

.dropdown-custom {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border: 1px solid #D9D9D9;
  border-radius: 0;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 300;
  color: #000;
}

.dropdown-item-custom {
  font-size: 14px;
  color: #000;
}

.dropdown-item-custom:hover {
  background-color: #F1B332; /* El amarillo de la paleta */
}

.dropdown-item-custom:active {
  background-color: #F1B332; /* El amarillo de la paleta */
}

.dropdown-toggle::after {
  display: none !important; /* Para eliminar la flecha predeterminada */
}

.dropdown-menu.show {
  border: 1px solid #D9D9D9;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.18);
}
