.error-container {
    width: 100%;
    height: auto;
    min-height: 80vh;
    padding: 150px 0;
  }
  
  @media screen and (max-width: 840px) {
    .error-container {
      padding: 100px 0;
    }
  }
  
  .row-content {
    align-items: center;
    color: #000;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    margin-bottom: 60px;
  }
  
  .bold {
    font-weight: 600;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .bold a {
    font-weight: 600;
  }
  
  .bold:hover svg.left {
    transform: translateX(-5px);
  }
  
  .bold a {
    align-items: center;
    color: #000;
    display: flex;
  }
  
  .bold svg {
    height: auto;
    display: block;
    transition: all 0.3s ease-in-out;
  }
  
  .bold svg.left {
    width: 20px;
    margin-right: 5px;
  }
  
  .wrapper-content {
    width: 100%;
    height: 460px;
    position: relative;
  }
  
  .wrapper-image {
    width: 440px;
    height: 440px;
    border-top: 20px solid #fff;
    justify-content: center;
    display: flex;
    background-color: #fff;
    z-index: 8;
    position: absolute;
    bottom: -20px;
    left: 0;
  }
  
  @media screen and (max-width: 1200px) {
    .wrapper-image {
      width: 400px;
      height: 400px;
    }
  }
  
  @media screen and (max-width: 992px) {
    .wrapper-image {
      display: none;
    }
  }
  
  .image {
    width: 100%;
    height: auto;
  }
  
  .top-text {
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #fff;
    color: #000;
    font-weight: 500;
    font-size: 22px;
    text-align: center;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
    z-index: 5;
    top: -20px;
  }
  
  @media screen and (max-width: 992px) {
    .top-text {
      position: relative;
      white-space: normal;
    }
  }
  
  @media screen and (max-width: 840px) {
    .top-text {
      font-size: 19px;
    }
  }
  
  .text {
    width: 100%;
    max-width: 550px;
    color: #000;
    font-size: 45px;
    font-weight: 100;
    line-height: 50px;
    margin: auto;
    text-align: center;
    position: relative;
    top: -30px;
  }
  
  @media screen and (max-width: 1200px) {
    .text {
      max-width: 450px;
      font-size: 38px;
      line-height: 45px;
    }
  }
  
  @media screen and (max-width: 840px) {
    .text {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  .text-wrapper {
    width: 75%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: auto;
    position: relative;
    z-index: 6;
  }
  
  @media screen and (max-width: 1200px) {
    .text-wrapper {
      width: 65%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .text-wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  .button-wrapper {
    width: 75%;
    background-color: #fff;
    position: absolute;
    z-index: 7;
    bottom: -20px;
  }
  
  .button-wrapper .button--square {
    margin-left: auto;
  }
  
  @media screen and (max-width: 1200px) {
    .button-wrapper {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 992px) {
    .button-wrapper {
      width: auto;
      padding: 0 20px;
      transform: translateX(-50%);
      left: 50%;
    }
  }
  
  .squares-wrapper {
    width: 100%;
    max-width: 90%;
    height: 100%;
    margin-left: auto;
    position: relative;
  }
  
  @media screen and (max-width: 840px) {
    .squares-wrapper {
      margin: 0 auto;
    }
  }
  
  .square {
    width: 100%;
    background-color: #fff;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .square::after {
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    content: " ";
    border: 1px solid #000;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .square.red {
    width: 50.25%;
    z-index: 3;
  }
  
  .square.red::after {
    border-color: #FF0000;
    border-left: none;
  }
  
  .square.black {
    width: 50.25%;
    z-index: 2;
    left: 40px;
  }
  
  .square.black::after {
    border-color: #000;
    border-right: none;
  }
  