.busquedas-container {
    width: 100%;
    min-height: 80vh;
    height: auto;
    padding-top: 150px;
  }
  .img-cont-busquedas {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .img-cont-busquedas img{
    width: 100px;
  }
  @media screen and (max-width: 840px) {
    .busquedas-container {
      padding-top: 100px;
    }
  }
  
  .back-wrapper {
    display: table;
    margin-bottom: 40px;
  }
  
  .back--link {
    align-items: center;
    display: inline-flex;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .back--link svg {
    width: 24px;
    height: auto;
    display: block;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }
  
  .back--link:hover svg {
    transform: translateX(-5px);
  }
  
  .title-busquedas {
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 80px;
  }
  
  @media screen and (max-width: 992px) {
    .title-busquedas {
      margin: 0 auto 20px;
    }
  }
  
  .busquedas-list {
    width: 100%;
    margin: 0 auto;
  }
  
  .form-wrapper {
    width: 100%;
    margin: 80px auto;
    display: block;
  }
  
  .subtitle-busquedas  {
    width: 100%;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 100;
    line-height: 54px;
    text-align: center;
    margin: 100px auto 80px;
  }
  .btn-busquedas-guardadas {
    background-color:#C62025 ;
    border: none;
    color: white;
    padding:  10px 20px;
  }
  .btn-busquedas-guardadas:hover {
    background-color:#C62025 ;

  }
  @media screen and (max-width: 992px) {
    .subtitle {
      margin: 50px auto;
    }
  }
  