.menu-container {
  width: 100vw;
  padding: 0;
  margin: 0;
  background-color: transparent;
  transition: all 0.4s cubic-bezier(0.74, 0.04, 0.24, 1.04);
  z-index: 99999999;
  position: fixed;
  top: 0;
  left: 0;
  
}

.menu-container.sticky {
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
  background-color: #fff; /* Fondo blanco cuando es sticky */
}

/* Flex container para el layout */
.nav-flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px; /* Ajustar padding según se necesite */
}
.logo-img {
  width: 150px;
}
/* Contenedor de la marca */
.menu-brand-wrapper {
  width: 280px;
  height: 65px;
  padding: 0 10%;
  display: flex;
  justify-content: center;
  background-color: #F1B332;
  margin-left: 25px;
  transition: all 0.4s cubic-bezier(0.74, 0.04, 0.24, 1.04);
  cursor: pointer;
}

.menu-brand {
  width: 100%;
  max-width: 140px;
  transition: all 0.4s cubic-bezier(0.74, 0.04, 0.24, 1.04);
}

/* Estilos de los enlaces del menú */
.menu-nav .menu--link {
  margin-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff; /* Blanco en la parte superior */
  position: relative; /* Necesario para la línea subrayada */
  transition: color 0.3s ease-in-out;
}

/* Estilos cuando está sticky o no es home */
.menu-container.sticky .menu-nav .menu--link,
.menu-container.sticky .button--menu,
.menu-nav .sticky-link {
  color: #333; /* Cambia a negro cuando está sticky o en otra página */
}

/* Efecto de subrayado animado en hover */
.menu-nav .menu--link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #f1b332; /* Color de la línea */
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease-in-out;
}

.menu-nav .menu--link:hover::after {
  width: 100%; /* La línea se extiende completamente al hacer hover */
}

/* Botón de menú */
.button--menu {
  border-radius: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.button--menu:hover {
  color: #fff;
  background-color: #C62025;
  border-color: #00000000;
}

/* Ajustes del menú hamburguesa */
.menu-hamburguesa {
  margin-left: 20px;
}

.menu-nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Estilos para el botón de menú hamburguesa */
.burger-button {
  width: 65px;
  height: 65px;
  align-items: center;
  background-color: transparent;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
  cursor: pointer;
}

/* Cambio de color al hacer scroll */
.menu-wrapper.scrolled .burger-button .line {
  background-color: #000;
}

.burger-button.active .line {
  background-color: #000;
}

/* Wrapper de los íconos del botón de menú */
.icon-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.icon-wrapper svg {
  width: 30px;
  height: auto;
  color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/* Estilos para la cruz del menú */
.burger-cross-custom.burger {
  display: flex;
  flex-direction: column;
}

.burger-cross-custom.cross .line {
  background-color: #fff;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-cross-custom.cross .line:nth-of-type(2) {
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.burger-cross-custom.cross .line:last-of-type {
  opacity: 0;
}

/* Menú desplegable */
.burger-menu {
  width: 360px;
  height: 0;
  align-items: center;
  display: flex;
  background-color: #fff;
  justify-content: center;
  transform-origin: top;
  overflow: hidden;
  pointer-events: none;
  z-index: 2;
  position: absolute;
  transition: all 0.3s ease-in-out;
  top: 97px;
  right: 0;
}

.burger-menu.active {
  height: 230px;
  pointer-events: all;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.05);
}

/* Líneas del icono hamburguesa */
.burger-cross-custom .line {
  width: 100%;
  max-width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 100px;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
  transform: translate(-50%, -50%) rotate(0);
  position: absolute;
  top: 50%;
  left: 50%;
}

.burger-cross-custom.burger .line:first-of-type {
  transform-origin: top left;
  transform: translate(-50%, -60%) rotate(0);
  top: 22px;
}

.burger--menu-link {
  color: #333;
}
.link-text {
  margin-left:10px ;

}
/* Para pantallas pequeñas */
@media screen and (max-width: 840px) {
  .menu-wrapper {
    height: 55px;
  }

  .menu-brand-wrapper {
    max-width: 180px;
    height: 55px;
    margin-left: 24px;
  }

  .menu-brand {
    max-width: 115px;
  }
}
