.terminos-container {
    width: 100%;
    padding-top: 150px;
  }
  
  .back-wrapper {
    display: flex;
    margin-bottom: 40px;
  }
  
  .back--link {
    align-items: center;
    display: inline-flex;
    color: #000;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .back--link svg {
    width: 24px;
    height: auto;
    display: block;
    transition: all 0.3s ease-in-out;
    margin-right: 5px;
  }
  
  .back--link:hover svg {
    transform: translateX(-5px);
  }
  
  .title-t {
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto 60px;
  }
  
  @media screen and (max-width: 992px) {
    .title {
      margin: 0 auto 20px;
    }
  }
  
  .text-t-wrapper {
    width: 100%;
    color: #000;
    margin-bottom: 80px;
  }
  
  .text-t {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }
  
  .subtitle {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
  }
  