.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
  }
  .formulario {
    width: 30%;
  }
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid black;
    border-radius: 0;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 0;
    cursor: pointer;
    border: 1px solid black;
    font-weight: bold;
    background-color: #ca1414;
  }
  
  .login-button:hover {
    background-color: transparent;
    color: black;
    border: 1px solid black;
  }
  