.title {
  width: 100%;
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto -100px;
}

@media screen and (max-width: 992px) {
  .title {
    margin: 0 auto -50px;
  }
}

.formWrapper {
  width: 100%;
  margin: 30px auto 100px;
  display: block;
}

.backWrapper {
  display: table;
  margin-bottom: 40px;
}

.backLink {
  align-items: center;
  display: inline-flex;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.backLink svg {
  width: 24px;
  height: auto;
  display: block;
  transition: all 0.3s ease-in-out;
  margin-right: 5px;
}

.backLink:hover svg {
  transform: translateX(-5px);
}

.favoritesContainer {
  width: 100%;
  min-height: 80vh;
  height: auto;
  padding-top: 150px;
}

@media screen and (max-width: 840px) {
  .favoritesContainer {
    padding-top: 100px;
  }
}
