/* Estilos generales para los select e inputs */
.filter-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-input {
  height: 40px;
  border: 1px solid #000000;
  border-radius: 0;
  font-size: 14px;
  color: #6c757d;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.filter-input:hover,
.filter-input:focus {
  border-color: #f1b332;
  background-color: #ffffff;
  outline: none;
}

/* Icono dentro del input */
.input-group-custom .input-icon {
  background-color: transparent;
  border: none;
  color: #6c757d;
}

/* Botón de búsqueda */
.search-button {
  background-color: #d9534f;
  border: none;
  border-radius: 0;
  height: 40px;
  width: 100px;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button:hover {
  background-color: #c9302c;
}

/* Sistema de precios */
.price-input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.input--price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12%;
  background-color: transparent;
  border: none;
  color: #ffffff;
}

.input-divider {
  width: 10px;
  height: 2px;
  margin: 0 20px;
  background-color: #ffffff;
}
