.search-form {
  z-index: 9999999;
  padding: 15px; /* Añadir un poco de padding para dar espacio en mobile */
}

.input-icon-wrapper {
  position: relative;
  width: 100%;
}

.input-with-icon {
  padding-left: 40px; /* Espacio para el ícono */
}

/* Estilo para los íconos */
.input-icon-placeholder {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: #6c757d;
  z-index: 9999999;
}

.filter-input {
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #6c757d;
  background-color: #fff;
}

.filter-input:hover,
.filter-input:focus {
  border-color: #f1b332;
  outline: none;
}

/* Botón de búsqueda */
.search-button {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  background-color: #C62025;
  border: none;
  border-radius: 0;
  height: 40px;
  width: 100%; /* Hacer el botón más ancho en mobile */
  color: #ffffff;
}

.search-button:hover {
  background-color: #C62025;
  text-shadow: #ccc 0 2px 10px;
}

/* Sistema de precios */
.price-range-wrapper {
  display: flex;
  flex-direction: column;
}
.button--vender {
  display: none;
}

.button--vender:hover {
  color: #fff;
  background-color: #C62025;
  border-color: transparent;
}
/* Ocultar rango de precios en móviles */
@media screen and (max-width: 768px) {
  .price-range-wrapper {
    display: none;
  }

  /* Estilo para los campos de selección */
  .filter-row .col {
    margin-bottom: 15px; /* Añadir margen entre columnas en mobile */
  }

  /* Ajuste de los dropdowns para habitaciones */
  .dorms-dropdowns {
    display: flex;
    justify-content: space-between;
    gap: 5px; /* Reducir espacio para evitar que se salga */
  }

  .min-max-input {
    width: 45%; /* Ajustar el tamaño en mobile */
  }

  /* Hacer que los inputs ocupen el ancho completo */
  .filter-input {
    width: 100%;
  }

  /* Alinear el botón de búsqueda centrado */
  .search-button {
    width: 100% !important; /* Botón de búsqueda ocupa todo el ancho */
  }

  /* Asegurar que los elementos ocupen toda la pantalla */
  .filter-row {
    display: block; /* Cada filtro se muestra como un bloque */
  }
  .search-form {
    width: 100% !important ; /* Asegurar que el formulario ocupe todo el ancho */
  }
  .button--vender {
    margin-top: 50px;
    width: 100% !important;
    border-radius: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    min-width: none;
    max-width: 100%;
  }
  
  .button--vender:hover {
    color: #fff;
    background-color: #C62025;
    border-color: transparent;
  }
}

/* src/components/SearchHomeForm/SearchHomeForm.css */
.autocomplete-suggestions {
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

.autocomplete-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.autocomplete-suggestions li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-suggestions li:hover {
  background-color: #f0f0f0;
}
