.footer-container {
  width: 100%;
  height: auto; /* Ajustar altura automáticamente */
  position: relative;
  background-color: #000; /* Fondo negro */
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0; /* Añadir padding para espacio */
}

.footer-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
}

.footer-left,
.footer-center,
.footer-right {
  flex: 1; /* Espacio equitativo para cada columna */
  padding: 0 20px;
}

.footer-center {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F1B332;
  padding: 20px 0; /* Añadir padding para espacio */
}

.footer-center img {
  width: 60%;
  height: auto; /* Ajustar altura automáticamente */
}

.footer-right .legal-text {
  font-size: 0.7rem;
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.social-list a {
  min-width: 0 !important;
}

.social--link {
  color: #fff;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social--link:hover {
  color: #f00; /* Cambia de color cuando el usuario pasa el mouse */
}

.legal-link a {
  color: #f00;
  text-decoration: none;
}

.legal-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-wrapper {
    flex-direction: column-reverse; /* Para pantallas más pequeñas, organizar en una sola columna en orden inverso */
    text-align: center;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    padding: 10px;
    flex: 100%;
  }

  .social-list {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 10px 0; /* Reducir padding para pantallas muy pequeñas */
  }

  .footer-center img {
    width: 80%; /* Ajustar tamaño de la imagen para pantallas muy pequeñas */
  }

  .social--link {
    font-size: 1.2rem; /* Reducir tamaño de los iconos sociales */
  }
}
