.property-pdf {
    width: 1100px;
    height: auto;
    font-family: "Montserrat", sans-serif;
  }
  
  .header {
    position: relative;
    width: 100%;
    background: white;
    display: flex;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 15px;
    padding-top: 35px;
    padding-left: 35px;
  }
  
  .marca-agua {
    font-size: 12px;
    position: relative;
    top: -15px;
  }
  
  .address-secundary-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 8px;
  }
  
  .address-title {
    font-size: 40px;
    font-weight: 300;
  }
  
  .title-new {
    padding-left: 35px;
    font-size: 24px;
    line-height: 26px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  
  .price {
    height: 50%;
    font-size: 40px;
    font-weight: 600;
    text-align: end;
  }
  
  .img-logo {
    width: 135px;
    height: 40px;
    margin-left: 50px;
    margin-top: 40px;
  }
  
  .main-price-coin {
    font-size: 25px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
  
  .main-price-container {
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  .main-price {
    font-size: 30px;
    font-weight: 600;
    color: black;
    display: flex;
    align-items: end;
    justify-content: end;
    margin-bottom: 10px;
  }
  
  .main-title-container {
    position: relative;
    top: -150px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 100vw;
    padding-right: 10px;
    padding-bottom: 50px;
  }
  
  .grid-container {
    position: relative;
    top: -815px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95%;
    margin: 0;
    padding-left: 85px;
    padding-right: 85px;
    gap: 30px;
  }
  
  .center-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 110px;
    background: #f1b332;
    display: flex;
    justify-content: start;
    align-items: flex-center;
    text-align: left;
  }
  
  .footer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
  }
  
  .center-header-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
  }
  
  .center-header-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .center-column {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  .main-image {
    height: 90%;
    flex: 3;
  }
  
  .small-images {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .rooms {
    margin-top: 10px;
  }
  
  .logo {
    width: 130px;
  }
  
  .header-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 14px 0 14px 22px;
  }
  
  .header-title {
    font-size: 24px;
    line-height: 26px;
    font-weight: 700;
    span {
      margin: 0 7px;
    }
  }
  
  .header-subtitle {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    margin-top: 10px;
    text-overflow: ellipsis;
    max-width: 940px;
    overflow: hidden;
    white-space: nowrap;
  }
  
  .left-column {
    width: 50%;
  }
  
  .right-column {
    width: 50%;
  }
  
  .icon-list {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 47px 0 63px;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-label {
    font-size: 20px;
    text-align: center;
    margin-bottom: 22px;
  }
  
  .icon-image {
    width: 46px;
  }
  
  .icon-image.fix {
    width: 60px;
  }
  
  .description-text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
  }
  
  .gallery-list {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .gallery-list.fixes {
    margin-top: 15px;
  }
  
  .gallery-item {
    width: calc(50% - 11px);
    height: 158px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 15px;
  }
  
  .content-wrapper {
    position: relative;
    top: -790px;
    align-items: flex-start;
    display: flex;
    gap: 15px;
    padding: 0 35px;
  }
  
  .bottom-wrapper {
    margin-top: 30px;
    display: flex;
  }
  
  .bottom-left {
    width: calc(100% - 150px);
    display: flex;
    flex-direction: column;
  }
  
  .bottom-right {
    width: 150px;
    height: 150px;
    border: 1px solid #c62025;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media print {
    #pdfItem {
      display: block;
    }
  
    #propItem,
    #backTop,
    #socialSidebar,
    #menuItem,
    #contacto,
    #menuFooter {
      display: none;
    }
  
    tfoot {
      position: relative;
      bottom: 0;
      width: 100%;
    }
  }
  
  @page {
    size: A4 landscape;
    margin: 70px 35px;
  }
  
  