.rating-start-container {
    display: flex;
    align-items: center;
  }
  
  .rating-start-container.noSelect {
    pointer-events: none;
  }
  
  .msg {
    color: black;
    font-size: 14px;
    white-space: nowrap;
    margin-left: 10px;
  }
  
  .item {
    font-size: 1.4rem;
    transition: all 0.3s ease-in-out;
  }
  
  button {
    align-items: center;
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    outline: none;
    cursor: pointer;
    margin: 0 6px 0 0;
    padding: 0;
  }
  
  button:last-of-type {
    margin-right: 0;
  }
  
  button.on .item {
    color: black;
  }
  
  button.off .item {
    color: transparent;
    -webkit-text-stroke: 1px black;
  }
  