/* Estilos para el título del formulario */
.title-form {
  width: 100%;
  color: #000000;
  font-size: 18px;
  font-weight: 700; /* Aumentar el grosor de la letra */
  margin: 20px 0;
  text-transform: uppercase;
  text-align: center;
}

/* Estilos para el contenedor del formulario */
.form-container {
  width: 90%;
  max-width: 1200px;
  padding: 0 30px; /* Aumentar un poco el padding para hacer el formulario más alto */
  margin: 0 auto;
  border: 1px solid rgb(198, 32, 37);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el contenedor envolvente del formulario */
.form-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 30px; /* Aumentar el padding inferior para más altura */
}

/* Estilos para los contenedores de los inputs */
.wrapper-inputs {
  width: 100%;
  max-width: 1200px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  gap: 9px; /* Reducir el espacio entre los inputs en 1px */
  margin-bottom: 5px;
}

/* Estilos para los inputs */
.input--form {
  width: calc(50% - 9px); /* Reducir el ancho en 1px */
  height: 35px; /* Aumentar la altura del input */
  padding: 5px; /* Ajustar el padding interno */
  font-size: 14px;
  border-radius: 5px;
  border: 0px solid #ccc; /* Añadir un borde visible */
  outline: none;
}

/* Estilo específico para .input--form.half */
.input--form.half {
  margin-top: -20px;
  padding: 5px;
}

/* Estilo para el input en focus */
.input--from:focus,
.input--form:focus {
  border-color: #333333;
}

/* Estilos para el área de texto */
.textarea--form {
  width: 100%;
  max-width: 1200px;
  height: 70px; /* Aumentar la altura del área de texto */
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 0px solid #ccc;
  outline: none;
}

/* Estilo para el área de texto en focus */
.textarea--form:focus {
  border-color: #333333;
}

/* Estilos para el botón de envío */
.button--send {
  width: 180px;
  height: 45px; /* Aumentar la altura del botón */
  padding: 10px;
  font-size: 14px;
  border: 0px solid #C62025;
  background-color: #C62025;
  color: #ffffff;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  position: relative;
  text-decoration: none;
}

/* Estilo para el botón al pasar el mouse */
.button--send:hover {
  background-color: #c92a2a;
}

/* Estilos para el contenedor completo */
.full {
  border: 1px solid #ccc;
  padding: 30px 15px 0; /* Aumentar el padding superior */
  margin-bottom: 30px;
}

/* Estilos responsivos */
@media screen and (max-width: 992px) {
  .wrapper-inputs {
      flex-direction: column;
      margin-bottom: 0;
      gap: 0px;
  }

  .input--form {
      width: 100%;
  }

  .form-container, .form-wrapper, .textarea--form {
      max-width: 100%;
  }
  .input--form.half {
    margin-top: 5px;
    padding: 0px;
}
}