.multi-range-slider {
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: flex;
  gap: 20px;
}

.price-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 30px;

}

.price-icon {
  margin-right: 10px;
  color: #F1B332; /* Color del ícono */
}

.price-input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input--price {
  width: 280px;
  text-align: center;
  padding: 5px;
  padding-top: 0;
  border-bottom: 2px solid #ffffff !important; /* Borde con el color personalizado */
  border-radius: 0;
  background-color: transparent;
  color: #333; /* Color del texto */
}

.input-divider {
  width: 10px;
  height: 2px;
  margin: 0 10px;
  background-color: #F1B332; /* Color del separador */
}
