.blog-list-container {
  margin-top: 20px;
  padding: 0 15px;
}

.blog-post-item {
  display: flex;
  padding: 0 10px;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .blog-post-item {
    flex: 0 0 50%; /* Ocupar el 50% del ancho del contenedor */
    max-width: 50%;
    padding: 0 5px;

  }
  .titulares-container {
    padding: 0 5px;
  }
}
