.cb-container {
  width: 100%;
  height: auto;
  padding-top: 91px;
  font-family:'Montserrat', sans-serif;
}

@media screen and (max-width: 992px) {
  .cb-container {
    padding-top: 115px;
  }
}

.cb-hero-wrapper {
  width: 100%;
  height: calc(100vh - 91px);
  display: flex;
  align-items: flex-end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
}

.cb-black-layer {
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 40%);
  position: absolute;
  top: 0;
  left: 0;
}

.cb-menu-hero {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  margin-top: auto;
  z-index: 5;
  position: relative;
}
.cb-menu-hero a {
  text-decoration: none;
}
.cb-menu-hero-text {
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 9px;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.cb-menu-hero-text:after {
  width: 0;
  height: 2px;
  background-color: #ffffff;
  content: " ";
  transition: all 0.3s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.cb-menu-hero a {
  width: 20%;
  height: 100%;
  align-self: start;
  align-items: center;
  display: flex;
  text-align: center;
  justify-content: center;
}

.cb-menu-hero a:hover .cb-menu-hero-text:after {
  width: 100%;
}

.cb-menu-hero a.active .cb-menu-hero-text:after {
  width: 100%;
}

.cb-back-wrapper {
  display: none;
}

@media screen and (max-width: 992px) {
  .cb-back-wrapper {
    display: table;
  }
}

.cb-historia-section {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 100px 0;
}

@media screen and (max-width: 992px) {
  .cb-historia-section {
    padding: 60px 0;
  }
}

.cb-historia-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cb-historia-left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 10px;
}

.cb-historia-right {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cb-historia-gif {
  width: 100%;
  max-width: 93%;
  height: auto;
  margin: 0;
}

.cb-historia-text-wrapper {
  width: 100%;
  max-width: 600px;
  color: #000000;
}

.cb-underline-title {
  width: 100%;
  max-width: 600px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
}

.cb-underline-title u {
  font-weight: 500;
  text-decoration: underline;
}

.cb-historia-text {
  width: 100%;
  max-width: 600px;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

.cb-valores-section {
  width: 100%;
  background-color: #f7f7f7;
  margin: 0 auto;
  padding: 60px 0;
}

.cb-valores-list {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.cb-valores-wrapper {
  width: 100%;
  max-width: 330px;
  color: #000000;
}

.cb-valores-list-title {
  font-weight:lighter;
  font-size: 48px;
  margin-bottom: 20px;
}

.cb-valores-list-text {
  color: #000000;
  text-align: justify;
  font-size: 14px;
  line-height: 18px;
}

.cb-quotes-section {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 60px 0;
}

.cb-quote-list {
  width: 100%;
  display: grid;
  display: flex;
  justify-content: center;
  align-self: center;  
  gap: 20px;
}

.cb-quote {
  max-width: 550px;
  height: auto;
  
}


.cb-somos-belga-section {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 60px 0;
}

.cb-staff-list {
  width: 100%;
  display: flex;
  gap: 17px;
}
.cb-left-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cb-staff-item {
  display: flex;
  justify-content: space-around;
  width: 50%;
  border-bottom: 1px solid #C62025;
}

.cb-name {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

.cb-low-name {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  text-align: center;
}

.cb-right-content {
  width: 250px;
  height: 250px;
}

.cb-staff-image {
  width: 100%;
  position: relative;
}

.cb-servicios-section {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 60px 0;
}

.cb-servicios-gallery {
  width: 100%;
  display: flex;
  margin: 0 auto 15px;
}

.cb-underline-title {
  width: 100%;
  max-width: 600px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 60px;
}

.cb-swiper-container-gallery {
  width: 100%;
  display: flex;
  margin: 0 auto 15px;
}
.cb-service-title {
  border: 1px solid #000000;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.cb-service-media {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cb-portales-container {
  width: 100%;
  height: 340px;
  display: flex;
  flex-flow: column;
  border: 1px solid #000000;
  margin: 0 auto;
}

.cb-portales-list {
  width: 100%;
  max-width: 880px;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
}

.cb-portal-item {
  height: 100%;
  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;
}

.cb-portal-img {
  width: 100%;
  max-width: 100px;
  height: auto;
  margin-bottom: 15px;
}

.cb-oficinas-section {
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 47px 0 0;
}

.cb-main-office {
  width: 100%;
  height: 340px;
  background-color: #f7f7f7;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px auto 0;
}

.cb-main-office-img {
  width: 50%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.cb-office-main-text {
  width: 50%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cb-office-text-wrapper {
  width: 100%;
  max-width: 340px;
  color: #000000;
  display: flex;
  flex-flow: column;
}

.cb-office-text-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.cb-office-text-loc {
  font-size: 16px;
  margin-bottom: 30px;
}

.cb-office-text {
  width: 100%;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.cb-form-wrapper {
  width: 100%;
  margin: 30px auto 100px;
  display: block;
}
.cb-office-list-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.cb-office-text-wrapper {
  padding-top: 80px;
  padding-bottom: 80px;
}