.admin-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    padding: 20px;
}

.d-flex {
    display: flex;
}
a:hover, button:hover {
    background-color: transparent;
}